@use '../variables.scss' as vars;

.bar-of-progress {
    z-index: 50;
    opacity: 0;
}

.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    height: 60px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: vars.$color_secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    &__secondaryButtons {
        color: vars.$color_main !important;
        position: absolute;
        right: 0;
        margin-right: 1%;
        display: flex;
    }
}

.content {
    margin-top: 60px;
}

.logoutButton {
    margin-right: 5px;
    background: none;
    color: white;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
}

.settingsButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
