@use './variables.scss' as vars;

html,
body {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    -ms-flex-pack: start;
    -ms-flex-align: start;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    & ::selection {
        background-color: rgb(189, 189, 189);
    }
}

/*ScrollBar settings*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: vars.$color_secondary;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: vars.$color_secondary;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eeeeee;
}

.bar-of-progress {
    opacity: 0;
    margin-top: 60px;
}

input[type='file']::-webkit-file-upload-button {
    display: 'none';
}
